<form action="" method="post">

    <fieldset>

            <legend>Inscrivez-vous</legend>

            <div>
                <label for="">Nom d'utilisateur</label>
            </div>

            <div>
                <label for="">Mot de passe</label>
            </div>

            <div>
                <label for="">Repetez votre mot de passe</label>
            </div>

            <div>
                <label for="">Adresse email</label>
            </div>

            <div>
                <input type="submit" value="S'enregistrer">
            </div>

    </fieldset>

</form>