<form action="" method="post">
    {% csrf_token %}
    <fieldset class="uk-fieldset">

            <legend class="uk-legend">Inscrivez-vous</legend>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    {{ form.username }}
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    {{ form.password }}
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    {{ form.repeat }}
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                    {{ form.email }}
                </div>
            </div>

            <div class="uk-margin">
                <input type="submit" value="S'enregistrer" class="uk-button uk-button-secondary uk-form-width-large">
            </div>

    </fieldset>

</form>