{% extends 'layout.html' %}

{% block main %}

<div class="home uk-flex-center" uk-grid>

    <div class="uk-width-1-2@m uk-width-1-1@s">

        <div class="">
            <img src="{{MEDIA_URL}}home_codeops.png" alt="Homepage" id="home-picture">
        </div>
    
    </div>

    <div class="uk-width-1-3@m">

        <div class="uk-text-center btn">
            <h1>Formation</h1>
            <p>Lancez-vous dans la programmation avec des cours simplifiés faits pour vous</p>
            <a href="{% url 'main:careers' %}" class="uk-text-center uk-button uk-button-secondary input">Commencez maintenant!</a>
        </div>

        <ul class="uk-child-width-expand" uk-tab>
            <li><a href="#">Authentification</a></li>
        </ul>

        <ul class="uk-switcher uk-margin">

            <li>{% include 'home_form/login.html' %}</li>

        </ul>

    </div>

</div>

{% endblock %}