<div>

    <div>
        <a href="{% url 'social-auth:begin' 'google-oauth2' %}" class="uk-button uk-button-text">S'authentifier avec Google</a>
    </div>

    <div>
        <a href="{% url 'social-auth:begin' 'github' %}" class="uk-button uk-button-text">S'authentifier avec Github</a>
    </div>
    <form action="" method="post">

        <label for="pseudo">Nom d'utilisateur</label>
        <input type="pseudo" name="pseudo" class="uk-input" />

        <label for="password">Mot de passe</label>
        <input type="password" name="password" class="uk-input">

        <input type="submit" value="Connexion" class="uk-button uk-button-secondary uk-margin uk-width-1-1"/>

    </form>

</div>