{% extends 'layout.html' %}

{% block meta %} {% endblock %}

{% block title %} {{ course.title }} {% endblock %}
<>
{% block main %}

<section class="" uk-grid>

    <div class="" uk-grid>

        <div class="uk-width-2-3@m" uk-grid>

            <div class="uk-width-1-4@m uk-width-1-1@s">
                <img src="{{ course.avatar.url }}" alt="{{ course.title }}" class="uk-logo">
            </div>

            <div class="uk-width-3-4">
                <h1 class="uk-text-bold">{{ course.title }}</h1>
                <p class="uk-text-meta">Mise à jour le {{ course.update_date|date:"D j F Y à H"|title }} heures</p>
            </div>

        </div>
        <div class="uk-width-1-3@m">

            {% block additional_scripts %}
            <script src="https://apis.google.com/js/platform.js"></script>
            {% endblock %}

            <div class="g-ytsubscribe" data-channelid="UCL-5fpkK4QhcOBiGql5PFog" data-layout="full" data-theme="dark" data-count="hidden"></div>
        </div>

    </div>

    <div class="uk-margin-medium-top uk-width-1-1">

        <ul class="uk-flex-center" uk-tab>
            {% for title in parts_title %}

            <li><a href="#">{{ title }}</a></li>

            {% endfor %}
        </ul>

        <ul class="uk-switcher">
            {% for part in parts %}
            <li>
                <div class="uk-flex-center" uk-grid>

                    <div>
                        <iframe width="560" height="315" src="{{ part.url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>

                    <div class="uk-width-1-1">
                        <p class="uk-text-lead uk-text-center">{{ part.description }}</p>
                    </div>

                    <div class="uk-width-1-2@m uk-width-1-1@s">
                        <p>{{ part.content|safe|linebreaks }}</p>
                    </div>

                </div>
            </li>
            {% endfor %}
        </ul>

    </div>

</section>

{% endblock %}