{% extends 'layout.html' %}

{% block meta %} {% endblock %}

{% block title %} {{ path.title }} {% endblock %}

{% block main %}

<section class="uk-grid-medium uk-child-width-1-1@s uk-child-width-1-3@m uk-grid-match uk-flex-center" uk-grid-parallax>
    {% for c in courses %}

    <div>
        <div class="uk-card uk-card-secondary uk-card-hover">

            <div class="uk-card-body uk-cover-container">
                <canvas height="130"></canvas>
                <img src="{{ c.avatar.url }}" alt="{{ c.title }}" uk-cover />
            </div>

            <div class="uk-card-footer uk-child-width-1-1" uk-grid>

                <div class="">
                    <h2>{{ c.title }}</h2>
                </div>

                <div>
                    <p>
                        {{ c.description|truncatewords:25 }}
                    </p>
                </div>

                <div class="">
                    <a href="{{ c.get_absolute_url }}" class="uk-width-1-1 uk-button uk-button-secondary">Voir ce cours</a>
                </div>

            </div>

        </div>
    </div>
    {% empty %}

    <span class="uk-text-center uk-text-bold">
        <p>
            <span uk-icon="icon: warning"></span>
            Aucun cours n'est disponible pour le moment
        </p>

    </span>

    {% endfor %}

</section>

{% endblock %}