<div class="uk-flex-center uk-child-width-1-4 uk-background-muted" uk-grid>

    <div>

        <div>
            <span>Codeops</span>
            <ul>
                <li>Contact</li>
                <li>A propos</li>
            </ul>
        </div>

    </div>

    <div class="" uk-grid>

        <div>
            <span class="uk-text-bold">Formations</span>
            <ul>
                <li>Développeur web</li>
                <li>Développeur logiciel</li>
            </ul>
        </div>

        <div>

        </div>

    </div>

</div>