@-webkit-keyframes HomeAnimation{
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-3px);
    }

    75% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(0px);
    }
}
@keyframes HomeAnimation{
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-3px);
    }

    75% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(0px);
    }
}

#main-content{
    min-height: 100vh;
}

.uk-input{
    border: 1px solid gray;
}



#home-picture{
    -webkit-animation: HomeAnimation 2s infinite;
    animation: HomeAnimation 2s infinite;
}
