@-webkit-keyframes HomeAnimation{
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}
@keyframes HomeAnimation{
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

#main-content{
    min-height: 100vh;
    background-color: #313740;
}

.welcome{
    color: white;
    font-size: x-large;
}

.my-form{
    position: absolute;
    top: 10%;
    height: 80%;
    width: 90%;
}

.uk-input{
    border: 1px solid gray;
}

.home-btn{
    color: white;
    border: 1px solid silver;
    padding: 3% 5% 3% 5%;
}
.btn{
    margin-top: 3%;
}
.uk-accordion-title{
    color: white;
}

#home-picture{
    -webkit-animation: HomeAnimation 2s;
    animation: HomeAnimation 2s;
}
