{% extends 'layout.html' %}

{% block title %} {{ part.title }} {% endblock %}

{% block main %}
<h4 class="uk-heading-line"><span>{{ part.title }}</span></h4>

<div class="uk-child-width-1-2@m uk-child-width-1-1@s u-grid-small" uk-grid>

    <div>
        <iframe width="560" height="315" src="{{ part.url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <div class="uk-child-width-1-1" uk-grid>
        <div>
            <div>
                <span class="uk-text-lead">Rejoignez la communauté</span>
            </div>
            <div class="g-ytsubscribe" data-channel="GoogleDevelopers" data-layout="full" data-theme="dark" data-count="hidden">
            </div>
        </div>
        <div>
            <div>
                <span class="uk-text-lead">Description de la partie</span>
                <p>{{ part.description }}</p>
            </div>
        </div>
        <div>
            <div>
                <a href="" class="uk-width-1-1 uk-button uk-button-secondary">Valider le cours</a>
            </div>
        </div>
    </div>

</div>

<div>
    <h3 class="uk-heading-line"><span>Article textuel</span></h3>
    {{ part.content|safe}}
</div>
{% endblock %}

{% block additionnal_scripts %}
<script src="https://apis.google.com/js/platform.js"></script>
{% endblock %}