<div class="">

    <div class="header-title">
        <div>
            <span>CodeOPS!</span>
        </div>
        <div>
            <ul>
                <li><a href="">A propos</a></li>
                <li><a href="">Portfolio</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="">Connexion</a></li>
                <li><a href="">Inscription</a></li>
            </ul>
        </div>
    </div>

</div>