<div class="">

    <div class="header-title">
        <div>
            <span>CodeOPS!</span>
        </div>
        <div>
            <ul>
                <li><a href="">A propos</a></li>
                <li><a href="">Portfolio</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="">{{ user.username }}</a></li>
                <li><a href="{% url 'main:logout' %}">Déconnexion</a></li>
                <li><a href="">Mes cours</a></li>
                {% else %}
                <li><a href="{% url 'main:login' %}">Connexion</a></li>
                <li><a href="{% url 'main:register' %}">Inscription</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

</div>