<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Other meta that can be added for da different page -->
        {% block meta %}{% endblock %}
        <title>{% block title %} Welcome to CodeOPS {% endblock %} - CodeOPS!</title>
    </head>
    <body>

        <div>
            <header>

            </header>
            <section>
                <main>{% block main %} {% endblock %}</main>
                <section>{% block secondary %} {% endblock %}</section>
            </section>
            <footer>

            </footer>
        </div>

    </body>
</html>