{% extends 'layout.html' %}

{% block meta %} {% endblock %}

{% block title %} Quelle carrière voulez-vous ? {% endblock %}

{% block main %}

<section class="uk-grid-medium uk-child-width-1-1@s uk-child-width-1-3@m uk-grid-match uk-flex-center" uk-grid>

{% for c in Careers %}
    <div>
        
        <div class="uk-card uk-card-default uk-card-hover">

            <div class="uk-card-header">
                <h2 class="uk-card-title"> {{ c.title }} </h2>
            </div>
            
            <div class="uk-card-body">
                <p>
                    {{ c.description }}
                </p>
            </div>

            <div class="uk-card-footer">
                {% if c not in user_careers %}
                <a href="{% url 'main:new_career' user.username c.pk %}" class="uk-button uk-button-secondary">Commencer cette carrière</a>
                {% else %}
                <a href="{% url 'main:paths' c.pk %}" class="uk-button uk-button-secondary">Continuer cette carrière</a>
                {% endif %}
            </div>

        </div>
    </div>

{% endfor %}

</section>

{% endblock %}