{% extends 'layout.html' %}

{% block meta %} {% endblock %}

{% block title %} Commencez un cours {% endblock %}

{% block main %}
<section class="uk-grid-medium uk-child-width-1-1@s uk-child-width-1-3@m uk-grid-match uk-flex-center" uk-grid>
    {% for c in courses %}

    <div>

        <div class="uk-card uk-card-default uk-card-hover">

            <div class="uk-card-header">
                <h2 class="uk-card-title"> {{ c.title }} </h2>
            </div>

            <div class="uk-card-body">
                <p>
                    {{ c.description }}
                </p>
            </div>

            <div class="uk-card-footer">
                {% if not c in user_courses %}
                <a href="{% url 'main:new_course' c.slug path.pk %}" class="uk-button uk-button-text">Commencer ce cours</a>
                {% else %}
                <a href="{% url 'main:parts' c.slug %}" class="uk-button uk-button-text">Continuer ce cours</a>
                {% endif %}
            </div>

        </div>
    </div>

    {% empty %}

    <span class="uk-text-center uk-text-bold">
        <p>
            <span uk-icon="icon: warning"></span>
            Aucun parcours n'est disponible pour le moment
        </p>

    {% endfor %}
</section>
{% endblock %}