{% extends 'layout.html' %}

{% block title %} {{ course.title }} {% endblock %}

{% block main %}

    <table class="uk-table uk-table-middle uk-table-responsive uk-table-divider uk-table-striped uk-table-hover uk-table-justify">
        <thead>
            <tr>
                <th class="uk-width-small">Partie</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for p in parts %}
            <tr>
                <td>{{ p.title }} </td>
                <td>{{ p.description }}</td>
                <td><button class="uk-button uk-button-default" type="button">Voir cette lecon</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}