{% extends 'layout.html' %}

{% block main %}

<div class="home">
    <div>
        <h1 class="uk-text-center welcome">
            <p>Vous voulez vous lancer dans la programmaton ?</p>
            <p>Mais vous ne savez pas ou commencer ?</p>
            <p>Apprenez à coder puis à créer avec CodeOPS</p>

        </h1>
    </div>

    <div class="uk-text-center btn">
        <a href="{% url 'main:careers' %}" class="uk-text-center home-btn uk-padding">Commencez maintenant!</a>
    </div>
    
</div>

{% endblock %}